@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 300px;
    grid-template-rows: 400px 100px;
    gap: 8px 8px;
    grid-template-areas:
      "graph graph temperature"
      "control control control";
  }

  * {
    font-size: 64px;
  }

  :root {
    --switch-width: 200px;
    --switch-height: 100px;
    --slider-size: 100px;
    --slider-gap: 6px;
  }
}

@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 76px 420px;
    gap: 8px 8px;
    grid-template-areas:
      "temperature"
      "graph"
      "control";
  }

  * {
    font-size: 32px;
  }

  :root {
    --switch-width: 100px;
    --switch-height: 50px;
    --slider-size: 50px;
    --slider-gap: 3px;
  }
}
