@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    gap: 8px 8px;
    grid-template-areas:
      "temperature"
      "control";
  }

  * {
    font-size: 64px;
  }

  :root {
    --switch-width: 300px;
    --switch-height: 150px;
    --slider-size: 150px;
    --slider-gap: 9px;
  }
}

@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 76px 420px;
    gap: 8px 8px;
    grid-template-areas:
      "temperature"
      "control";
  }

  * {
    font-size: 64px;
  }

:root {
    --switch-width: 300px;
    --switch-height: 150px;
    --slider-size: 150px;
    --slider-gap: 9px;
  }
}
